
# Created by https://www.gitignore.io/api/webstorm,osx,windows,node

### WebStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Ignore Bower components (can be installed separately with 'bower install' from project directory
bower_components

# Ignore staticfiles collection directory (run on Heroku again)
staticfiles

# Ignore virtual environment for python
env
/storyStack/static/assets/bundles/main-0e471066bb34a54f3f9f.js
/storyStack/static/assets/bundles/main-a121b9568c35a1add939.js
/storyStack/static/assets/bundles/main-72d8190ebe15629e18d7.js
/storyStack/static/assets/bundles/main-3456d0ab712ac9abcd5f.js
/storyStack/static/assets/bundles/main-a108b2bf2e12bd907e9e.js
/storyStack/static/assets/bundles/main-1ae9d3c30b4cd0107b62.js
/storyStack/static/assets/bundles/main-f8b64b2aeb053023ac2d.js
/storyStack/static/assets/bundles/main-3d23e01b04608f375b88.js
/storyStack/static/assets/bundles/main-4677cc2d3e51fadb9bf0.js
/storyStack/static/assets/bundles/main-bfea4f4221bb1ef73335.js
/storyStack/static/assets/bundles/main-9db186b321c7381b0637.js
/storyStack/static/assets/bundles/main-eef58688e7930246c66d.js
/storyStack/static/assets/bundles/main-d2a4dfeb9346ce9b0244.js
/storyStack/static/assets/bundles/main-917b96d981762709ae5b.js
/storyStack/static/assets/bundles/main-70194198d5a9dc12bc07.js
/storyStack/static/assets/bundles/main-da957fd951e5e29ca4e8.js
/storyStack/static/assets/bundles/main-b28fc4b99d07476f799a.js
/storyStack/static/assets/bundles/main-7ce9ab1fea2b134401d1.js
/storyStack/static/assets/bundles/main-3e803f48ed9d812cf92b.js
/storyStack/static/assets/bundles/main-5d2dfe59a66e48e2b3c0.js
/storyStack/static/assets/bundles/main-c08d579199c45b35b89a.js
/storyStack/static/assets/bundles/main-64a4b142538324e95bae.js
/storyStack/static/assets/bundles/main-35ce8323baeb40121fd5.js
/storyStack/static/assets/bundles/main-3bdecabc62159a7a8e01.js
/storyStack/static/assets/bundles/main-9f33affb7d0e65d7a171.js
/storyStack/static/assets/bundles/main-4080881603f2b6aac624.js
/storyStack/static/assets/bundles/main-91a15f32eef81b5aab2a.js
/storyStack/static/assets/bundles/main-51bf2d3bd11f9a08cc11.js
/storyStack/static/assets/bundles/main-b01d868605314b4b30ba.js
/storyStack/static/assets/bundles/main-c3c7cb9917bdbe88b323.js
/storyStack/static/assets/bundles/main-52c3bf5395520b651e90.js
/storyStack/static/assets/bundles/main-35cb23d46e1a9e3e637e.js
/storyStack/static/assets/bundles/main-5901e39698118105b96e.js
/storyStack/static/assets/bundles/main-b7fbdbf0cb75c0201e0f.js
/storyStack/static/assets/bundles/main-82de40ac6f5e494aecc1.js
/storyStack/static/assets/bundles/main-c25156faff5918e1e684.js
/storyStack/static/assets/bundles/main-92ac4f0b42c99052d91f.js
/storyStack/static/assets/bundles/main-8018bd2834670a1f3226.js
/storyStack/static/assets/bundles/main-c24f17a324effa5090a8.js
/storyStack/static/assets/bundles/main-2a5f0bc2423d585b6c03.js
/storyStack/static/assets/bundles/main-3e7257b8867e4f2fad3a.js
/storyStack/static/assets/bundles/main-5bc5f407fd4f1fbd9227.js
/storyStack/static/assets/bundles/main-cc8a16a81f0cd4b8da0c.js
/storyStack/static/assets/bundles/main-640fa521e5c7b5c4f2b2.js
/storyStack/static/assets/bundles/main-722d5fd304aa0c9d876a.js
/storyStack/static/assets/bundles/main-13ecb2d69a7ee0b323c4.js
/storyStack/static/assets/bundles/main-377c2b1a8a064d3b97cd.js
/storyStack/static/assets/bundles/main-445f95f8e048c7b106c0.js
/storyStack/static/assets/bundles/main-303544dc314211bed39f.js
/storyStack/static/assets/bundles/main-a3d6881ead4238354a24.js
/storyStack/static/assets/bundles/main-73d549dfed3251cd4eb2.js
/storyStack/static/assets/bundles/main-3e943665daeba9cd9565.js
/storyStack/static/assets/bundles/main-85506b929d87d4dd37e6.js
/storyStack/static/assets/bundles/main-bee9382bea8756189a68.js
/storyStack/static/assets/bundles/main-cb54336dbb170524119b.js
/storyStack/static/assets/bundles/main-d74b300dc060bd4af7f8.js
/storyStack/static/assets/bundles/main-1d5de2030389fd50122e.js
/storyStack/static/assets/bundles/main-834a7776b6efb20b4c93.js
/storyStack/static/assets/bundles/main-06c4257e6a06b25c5444.js
/storyStack/static/assets/bundles/main-32e4b5b089c33aafdcf6.js
/storyStack/static/assets/bundles/main-a6562694ee90954c54b2.js
/storyStack/static/assets/bundles/main-f598ea9aa880f225bfcc.js
/storyStack/static/assets/bundles/main-32ce73a637147c55fa33.js
/storyStack/static/assets/bundles/main-2aa684f923c1a8af4653.js
/storyStack/static/assets/bundles/main-159d01bac78ba0c1094c.js
/storyStack/static/assets/bundles/main-822df7ac6bc14a0a81f0.js
/storyStack/static/assets/bundles/main-ad38e03498bce96f9182.js
/storyStack/static/assets/bundles/main-48ae4f9bf80716d565c9.js
/storyStack/static/assets/bundles/main-230fb95c7e7e3f88bb36.js
/storyStack/static/assets/bundles/main-f6f5b16f44291572ebf0.js
/storyStack/static/assets/bundles/main-568e1230bcb249a6f849.js
/storyStack/static/assets/bundles/main-0a43de0d6082afff30e3.js
/storyStack/static/assets/bundles/main-1731a265853ebdc9230b.js
/storyStack/static/assets/bundles/main-8d52894ae2adf83ae22b.js
/storyStack/static/assets/bundles/main-62b162ebb840c43fdf12.js
/storyStack/static/assets/bundles/main-e3073f01f44edde2903d.js
/storyStack/static/assets/bundles/main-aa2c7643c8e794bc1b1f.js
/storyStack/static/assets/bundles/main-bfb77bcd929b54a724be.js
/storyStack/static/assets/bundles/main-695c758900e1549ed7d3.js
/storyStack/static/assets/bundles/main-1bb56d13eded02537a13.js
/storyStack/static/assets/bundles/main-d9b97b3effa97cb69882.js
/storyStack/static/assets/bundles/main-1e1abbe7b8ebf2c97c47.js
/storyStack/static/assets/bundles/main-70b20829bf24e673ce94.js
/storyStack/static/assets/bundles/main-cb1dda557c1bc039e457.js
/storyStack/static/assets/bundles/main-2ee80e106c6294b6cc01.js
/storyStack/static/assets/bundles/main-94a1b0ff54176c37a91d.js
/storyStack/static/assets/bundles/main-a3c31b97b34edf1997c7.js
/storyStack/static/assets/bundles/main-83de023f3b6d537b418f.js
/storyStack/static/assets/bundles/main-6ee17744fe279e614b0f.js
/storyStack/static/assets/bundles/main-2127ec137213cf6903f6.js
/storyStack/static/assets/bundles/main-ea1fada59db66f5537ad.js
/storyStack/static/assets/bundles/main-dd8539261338c8c74c57.js
/storyStack/static/assets/bundles/main-352820c427ea9b26b419.js
/storyStack/static/assets/bundles/main-b864ca1810f9f6f3e428.js
/storyStack/static/assets/bundles/main-ed1022fea806d69c4b3a.js
/storyStack/static/assets/bundles/main-cb84998d0362fe62d623.js
/storyStack/static/assets/bundles/main-eedf063a7194d5819c7b.js
/storyStack/static/assets/bundles/main-59a35b3821298bb0b418.js
/storyStack/static/assets/bundles/main-0e168219d7d9ef6dc663.js
/storyStack/static/assets/bundles/main-ede60931c58662b0c8e0.js
/storyStack/static/assets/bundles/main-6337b6140ee451d073f3.js
/storyStack/static/assets/bundles/main-5607adbbb138bbe87a4d.js
/storyStack/static/assets/bundles/main-175d6bd5cad54ed7473c.js
/storyStack/static/assets/bundles/main-88df0aff15adf9782e8a.js
/storyStack/static/assets/bundles/main-b71cf0930a0df63b6ce3.js
/storyStack/static/assets/bundles/main-84ead5f20b2a1b769d76.js
/storyStack/static/assets/bundles/main-a8d8ab265ce9a6e75951.js
/storyStack/static/assets/bundles/main-7e57dbbc8940a579f300.js
/storyStack/static/assets/bundles/main-291f5e18d0affc86c5f3.js
/storyStack/static/assets/bundles/main-1cbd8394a7b286a1ee42.js
/storyStack/static/assets/bundles/main-4c64773b26ca20aca438.js
/storyStack/static/assets/bundles/main-13ff1f6f1c23fb8ea34f.js
/storyStack/static/assets/bundles/main-76dfebea3b689b8942a5.js
/storyStack/static/assets/bundles/main-eb63b42a6b88187a8a27.js
/storyStack/static/assets/bundles/main-7ca94c1ea696ab82d451.js
/storyStack/static/assets/bundles/main-25b73a081e1c97726de5.js
/storyStack/static/assets/bundles/main-e5f29798f0a686288b6c.js
/storyStack/static/assets/bundles/main-2ffeb224d689a0935ae4.js
/storyStack/static/assets/bundles/main-c18d3cfe834c782dc409.js
/storyStack/static/assets/bundles/main-ee6e890a1f7db401bcfb.js
/storyStack/static/assets/bundles/main-7a0f0ef4ba5854cb5cf2.js
/storyStack/static/assets/bundles/main-22afdcc216e00026bb1d.js
/storyStack/static/assets/bundles/main-65e8c7829fff1b116dfa.js
/storyStack/static/assets/bundles/main-0acbc2bba2fff1a87071.js
/storyStack/static/assets/bundles/main-5d5eb0bd990c9b6d9fa4.js
/storyStack/static/assets/bundles/main-b3684c83eeb62f5b5a63.js
/storyStack/static/assets/bundles/main-0a71a36dfbc56eba41e8.js
/storyStack/static/assets/bundles/main-1da8af103cb431b57ccb.js
/storyStack/static/assets/bundles/main-9f005be4669bced7d069.js
/storyStack/static/assets/bundles/main-b3e84055c009eec9d1cd.js
/storyStack/static/assets/bundles/main-b05d7461cd47a2e51ca2.js
/storyStack/static/assets/bundles/main-0d1a05ff8253aeb17544.js
/storyStack/static/assets/bundles/main-875d4a161f1e592843e7.js
/storyStack/static/assets/bundles/main-16968de602a695255eff.js
/storyStack/static/assets/bundles/main-85676d91a060d4a2bdd3.js
/storyStack/static/assets/bundles/main-a83db3837222eeff14fd.js
/storyStack/static/assets/bundles/main-7ffe01901a5c080d03ee.js
/storyStack/static/assets/bundles/main-35c90d31057f6ad1b283.js
/storyStack/static/assets/bundles/main-e22ac7afbd1a8fc525a8.js
/storyStack/static/assets/bundles/main-3c4d72a7d92232d6b225.js
/storyStack/static/assets/bundles/main-ac8e42f6c9e1c377cf63.js
/storyStack/static/assets/bundles/main-011f4e5f2f12239d31bc.js
/storyStack/static/assets/bundles/main-8ab8f819985d94f81da2.js
