<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story Stack</title>
    {% load render_bundle from webpack_loader %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stack/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
</head>

<body>
    <div id="root"></div>
    <script>
        {# Set javascript variable for requesting new cards to enable easier later changes to URL structure #}
        var plotPointRequestUrl = "{% url 'stack:new_plot_points' %}";
    </script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'react/dist/react.min.js' %}"></script>
    <script src="{% static 'react-dom/dist/react-dom.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'velocity-animate/velocity.min.js' %}"></script>
    <script src="{% static 'velocity-animate/velocity.ui.min.js' %}"></script>
    {% render_bundle 'main' %}
</body>
</html>